html {
  scroll-behavior: smooth;
}
@font-face {
  font-family: "Moderustic";
  src: url("/fonts/Moderustic-Medium.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;

}
html, body {
  margin: 0;
  padding: 0;
  background: #020202;
}
html, body {
  font-family: "Moderustic", sans-serif;
}
a, span {
  transition: all 0.3s ease;
}
body::before {
  content: "";
  position: fixed;
  inset: 0;

  background-image: url("/Noise.png");
  background-repeat: repeat;

  opacity: 0.2;

  pointer-events: none;

  z-index: 9999;
}
@media (max-width: 768px) {

  .mobile-stack {
    grid-template-columns: 1fr !important;
  }

  .mobile-center {
    text-align: center !important;
  }

  .mobile-hide {
    display: none !important;
  }

}